*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#0b0b0b;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 8%;
background:black;
position:sticky;
top:0;
z-index:999;
}

.logo{
font-size:32px;
font-family:'Cinzel',serif;
font-weight:700;
color:#d4af37;
}

nav a{
margin-left:30px;
text-decoration:none;
color:white;
transition:.3s;
}

nav a:hover{
color:#d4af37;
}

.hero{
height:100vh;
background:url('https://images.unsplash.com/photo-1617038220319-276d3cfab638?q=80&w=1600');
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
position:relative;
}

.overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,.55);
}

.hero-content{
position:relative;
text-align:center;
max-width:700px;
}

.hero h1{
font-family:'Cinzel',serif;
font-size:70px;
margin-bottom:20px;
color:#d4af37;
}

.hero p{
font-size:20px;
margin-bottom:35px;
}

.btn{
background:#d4af37;
color:black;
padding:14px 35px;
border-radius:40px;
text-decoration:none;
font-weight:600;
}

.gold-rate{
padding:90px 8%;
text-align:center;
}

.gold-rate h2{
font-family:'Cinzel',serif;
font-size:40px;
margin-bottom:40px;
}

.rate-box{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.rate-box div{
background:#151515;
padding:30px;
border:1px solid #d4af37;
border-radius:15px;
width:250px;
}

.rate-box p{
font-size:28px;
color:#d4af37;
margin-top:15px;
}

.collections{
padding:90px 8%;
text-align:center;
}

.collections h2{
font-family:'Cinzel',serif;
font-size:40px;
margin-bottom:50px;
}

.cards{
display:flex;
gap:30px;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:#151515;
border-radius:20px;
overflow:hidden;
width:350px;
}

.card img{
width:100%;
height:350px;
object-fit:cover;
}

.card h3{
padding:20px;
}

.about{
padding:90px 10%;
text-align:center;
line-height:1.8;
font-size:18px;
}

.about h2{
font-family:'Cinzel',serif;
margin-bottom:25px;
font-size:40px;
}

.testimonial{
padding:90px 10%;
text-align:center;
}

.testimonial-box{
background:#151515;
max-width:700px;
margin:auto;
padding:40px;
border-radius:20px;
border:1px solid #d4af37;
}

.contact{
padding:90px 10%;
text-align:center;
}

.contact h2{
font-family:'Cinzel',serif;
font-size:40px;
margin-bottom:25px;
}

.whatsapp{
display:inline-block;
margin-top:25px;
background:#25D366;
padding:15px 30px;
border-radius:40px;
color:white;
text-decoration:none;
}

footer{
padding:30px;
text-align:center;
background:black;
color:#999;
}

@media(max-width:768px){

.hero h1{
font-size:42px;
}

nav{
display:none;
}

}